body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}

.App {
  background-color: #fff;
  box-shadow: 0px 10px 20px #070707;
  border-radius: 20px;
  max-width: 1080px;
  margin: 30px auto;
}


.drawer {
  position: absolute;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: hidden;

  &__block {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 100%;
    padding: 30px;
    right: 0;
    background: white;
    box-shadow: -10px 4px 24px #070707;

    & h2 {
      margin: 0;
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;

      & .remove-btn {
        background-color: #fff;
        box-sizing: border-box;
        border-radius: 8px;
        height: 30px;
        width: 30px;
        cursor: pointer;
        opacity: 0.4;
        transition: opacity 0.2s;

        &:hover {
          opacity: 1;
        }
      }
    }

    & .cartItems {
      height: 450px;
      margin-bottom: 90px;
      overflow: auto;

      & .cartItem {
        display: flex;
        align-items: center;
        padding: 0 20px;
        border: 1px solid #dedcdc;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 20px;

        &__img {
          height: 70px;
          height: 70px;
        }

        &__info {
          margin: 20px;

          & p {
            margin: 0;
            margin-bottom: 5px;
            font-size: 16px;
          }

          & b {
            font-size: 15px;
          }
        }
      }

      & .btn-remove {
        background-color: #fff;
        border: 1px solid #848484;
        box-sizing: border-box;
        border-radius: 8px;
        height: 32px;
        width: 36px;
        cursor: pointer;
        opacity: 0.4;
        transition: opacity 0.2s;

        &:hover {
          opacity: 1;
        }
      }
    }

    & ul {
      display: block;
      margin-bottom: 40px;

      & .priceCheck {
        display: flex;
        margin-bottom: 15px;
        font-size: 17px;

        & .ellipsis {
          flex: 1;
          position: relative;
          top: -4px;
          border-bottom: 1px dashed #8484848e;
          margin: 0 7px;
        }
      }
    }

    & .greenButton {
      position: relative;

      &:hover {
        & img {
          transform: translateX(8px);
        }
      }

      & img {
        position: absolute;
        right: 40px;
        top: 15px;
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  border-radius: 16px;
  border: 0;
  background-color: rgb(46, 210, 41);
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: lighten($color: rgb(48, 223, 42), $amount: 7%);
  }
  &:active {
    background: darken($color: rgb(45, 206, 39), $amount: 11%);
  }
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  // border-bottom: 1px solid #b3aeae70;

  & .headerLeft {
    display: flex;
    align-items: center;

    & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    &__info{
      margin-left: 15px;

      & h3 {
        margin: 0;
      }

      & p {
        margin: 0;
        opacity: 0.7;
      }
    }
  }

  & .headerRight {
    display: flex;;

    &__cart {
      margin-right: 50px;
      list-style-type: none;
      cursor: pointer;
    }

    &__liked {
      margin-right: 50px;
      list-style-type: none;
      cursor: pointer;
    }

    &__user {
      margin-right: 30px;
      list-style-type: none;
      cursor: pointer;
    }
  }
}


.content {
  padding: 40px;

  & .headerForContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    & h1 {
      margin: 0;
    }
  
    & .search-block {
      display: flex;
      align-items: center;
      border: 1px solid #a2a2a283;
      border-radius: 15px;
      padding: 0 15px;
      position: relative;

      &__clear {
        position: absolute;
        height: 17px;
        width: 17px;
        right: 0;
        right: 15px;
        cursor: pointer;
        opacity: 0.6;
      }

      & input {
        width: 200px;
        padding: 10px;
        font-size: 16px;
        border: none;
        outline: none;
        overflow: hidden;
      }
    }
  }

  & .sneakers {
    display: flex;
    flex-wrap: wrap;
  }

}





